@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

punch {
    font-style: italic;
    text-align: right;
}
.card {
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 2px;
    padding: 3vh;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
body {
    background: -webkit-linear-gradient(top, #2ECC71, #1ABC9C);
    background: -moz-linear-gradient(top, #2ECC71, #1ABC9C);
    background: -o-linear-gradient(top, #2ECC71, #1ABC9C);
}
html {
    position: relative;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
}
p, span, small, punch {
    font-family: 'Open Sans', sans-serif;
}
footer { 
    height: 11vh;
    margin-bottom: 0px;
    box-shadow: -5px -3px 15px rgba(0,0,0,0.25);
    background-color: white;
    padding: 3vh;
}
.card > button {
    padding: 1vh;
}
i {
    color: #212121;
    transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
}
i:hover {
    color: black;
}